PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=piefruits

JWT_SECRET=change_me
ADMIN_ID=admin
ADMIN_PASSWORD=change_me

RAZORPAY_KEY_ID=rzp_test_xxxxx
RAZORPAY_KEY_SECRET=change_me
RAZORPAY_WEBHOOK_SECRET=change_me

CONTACT_TO_EMAIL=your_inbox@example.com
BREVO_API_KEY=
BREVO_FROM_EMAIL=verified_sender@example.com
BREVO_FROM_NAME=Pie Foods
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

CORS_ALLOWED_ORIGINS=http://localhost:4200

R2_ACCOUNT_ID=a32cfd4f6ac287f928402727edd0bc18
R2_ACCESS_KEY_ID=52a00e0247fc4b911627931e2b42d19a
R2_SECRET_ACCESS_KEY=7d266f39c3d2c9b7f40c4f54cd6466b690a426331f594c354b657f3953552d19
R2_BUCKET_NAME=piefoods-products
R2_PUBLIC_BASE_URL=https://pub-cc4c9eb64b96485987cd22bad726aee3.r2.dev
